* {
      margin : 0;
      padding : 0;
    }
  
    body {
      color : white;
      background-color: gray;
    }
    
    h1 {
      text-align: center;
    }

    p {
      font-size : 1.125em;
      font-family: serif, sans-serif, Times;
      line-height : 2em;
    }

    .box {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    a:link {color: white;}
    a:active {color: rgb(180, 50, 50);}
    a:visited {color: rgb(180, 50, 50);}
    a:hover {color: rgb(14, 219, 255);}
